
# ==========================================
# 🛑 SECRETS (NEVER UPLOAD)
# ==========================================
.env
backend/.env
frontend/.env
djangoproject/.env

# ==========================================
# 🐍 BACKEND & PYTHON
# ==========================================
venv_stable/
venv/
__pycache__/
*.py[cod]
.pytest_cache/

# Databases
db.sqlite3
your_persist_directory/

# Training Data
risk_training_data.csv

# ==========================================
# ⚛️ FRONTEND & NODE
# ==========================================
node_modules/
frontend/node_modules/
build/
dist/
.DS_Store
thumbs.db

# ==========================================
# 📂 MEDIA & UPLOADS
# ==========================================
media/
uploads/
*.jpg
*.jpeg
*.png

# Ignore ALL files inside the React assets folder
frontend/src/assets/*

# Un-ignore ONLY the water video
!frontend/src/assets/water-video.mp4